.synchro {
  background-color: #dedede;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
.synchro_id {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bolder;
}
.synchro_plainte > p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.Not_resolved {
  background-color: rgb(148, 17, 17);
  width: 30%;
  padding: 5px !important;
  text-align: center;
  color: white;
  font-weight: bolder;
}
